.dropbtn {
    background-color: #2ea1f4;
    color: #46484a;
    padding: 2%;
    font-size: 24px;
    text-align: center;
    border: none;
    cursor: pointer;
    height:70px;
    width: 70px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #46484a;
    color: #2ea1f4;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2ea1f4;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 18px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    top
}

.dropdown a:hover {background-color:#46484a;}

.show {display:block;}



@-webkit-keyframes blink {
   from { color: rgb(0, 82, 250); }
   to { color: rgb(247, 245, 5);
      ; }
  }
 @-moz-keyframes blink {
   from { color: rgb(0, 82, 250); }
   to { color: rgb(247, 245, 5);
      ; }
 }
 @-ms-keyframes blink {
   from { color: rgb(0, 82, 250); }
   to { color: rgb(247, 245, 5);
      ; }
 }
 @-o-keyframes blink {
   from { color: rgb(0, 82, 250); }
   to { color:rgb(247, 245, 5);
      ; }
 }
 @keyframes blink {
   from { color: rgb(0, 82, 250); }
   to { color: rgb(247, 245, 5);
      ; }
 }

 #blink {
    color: white;
    -webkit-animation: blink 1s 9999 alternate;
    -moz-animation: blink 1s 9999 alternate;
    -ms-animation: blink 1s 9999 alternate;
    -o-animation: blink 1s 9999 alternate;
    animation: blink 1s 9999 alternate;
 }
