<div id="about">
   <div class="about">
      <div class="parent">
         <h1>About Scott</h1>
            <p>Scott was born and raised in New Mexico. He has enjoyed technology  and computers since he was a child. The first expierence Scott had with coding was taking some introduction level classes in High School. He loved coding from the start. Ever since he has been building, de-bugging, and bandaging his code until it is perfection.
      </div>
         <div class="parent">
            <h3>Random facts about Scott</h3>
               <ol>
                  <div class="left">
                     <li >He loves green chile.</li>
                     <li >He has two spoiled rotten cats.</li>
                     <li >He loves to be outdoors.</li>
                     <li >He will make you laugh.</li>
                     <li >He strives to be his best.</li>
                  </div>
                  <div class="right">
                     <li>He enjoy's playing golf.</li>
                     <li>He has never been oversea's(yet).</li>
                     <li>He is an animal lover.</li>
                     <li>He recently became an uncle.</li>
                     <li>He </li>
                  </div>
               </ol>
         <br><br>
            <div id="resume" class="center">
            <h2>Resume</h2>
               <a href="resume.pdf" download><img class="resume" src="../img/scott.jpg" height="200" width="200"/></a>
               <br>
               Download
               <br>
               Official resume coming soon!
            </div>
   </div>
</div>
