<div id="about">
   <div class="about">
         <h1>About Scott</h1>
            <p>Scott was born and raised in New Mexico. He has enjoyed technology  and computers since he was a child. The first expierence Scott had with coding was taking some introduction level classes in High School. He loved coding from the start. Ever since he has been building, de-bugging, and bandaging his code until it is perfection.
         <br>
            <h3>Random facts about Scott</h3>
               <li class="left">He loves green chile.
               <li class="left">He has two spoiled rotten cats.
               <li class="left">He loves to be outdoors.
               <li class="left">He will make you laugh.
               <li class="left">He strives to be his best.
               <img class="right" src="../img/scott.jpg" height="200" width="200"/>
         <br>
            <div id="resume" class="center">
            <h2>Resume</h2>
               <a href="resume.pdf" download><img src="../img/resume.jpg" height="150" width="150"/></a>
               <br>
               Download
               <br>
               Official resume coming soon!
            </div>
   </div>
</div>
