<div class="about">
   <div>
         <h1>About Scott</h1>
            <p>Scott was born and raised in New Mexico. He has enjoyed technology and computers since he was a child. The first experience Scott had with coding was taking some introduction level classes in High School. He loved coding from the start. Ever since he has been building, de-bugging, and bandaging his code to perfection.
      </div>
            <div id="resume" class="center">
            <h2>Resume</h2>
               <a href="resume.pdf" download><img class="resume" src="../img/scott.jpg" height="200" width="200"/></a>
               <br>
               Download
               <br>
               Official resume coming soon!
            </div>
   </div>
</div>
s
