<div id="contact">
   <div id="blink" class="contact">
   <div class="center">
      <h2>Contact information</h2>
         <br>
      <a href="mailto:Scott@ScottABooth.com">
         <img class="grow" src="../img/email.svg" height="100" width="100" />
      </a>
      <a target="_blank" href="http://www.linkedin.com/in/scott-booth-2b124475">
         <img class="grow" src="../img/github.svg" height="100" width="100" />
      </a>
      <a target="_blank" href="http://github.com/kalanto">
         <img class="grow" src="../img/linkedin.svg" height="100" width="100" />
      </a>
   </div>
   </div>
</div>
