<div id="projects">
   <div class="proj">
      <ul>
      <li><a target="_blank" href="http://pokeapp.scottabooth.com">
         <img class="grow" src="../img/poke.jpg" height="100" width="100" />
            Pokemon App
      </a>
   <!-- </div> -->
   <!-- <div class="proj"> -->
      <li><a target="_blank" href="http://thehammeredsisters.scottabooth.com">
         <img class="grow" src="../img/HS.jpg" height="100" width="100" />
            The Hammered Sister's
      </a>
   <!-- </div>
   <div class="proj"> -->
      <li><a target="_blank" href="http://tracyadammemorial.scottabooth.com/#/">
         <img class="grow" src="../img/Mem.jpg" height="100" width="100" />
         Tracy Adam's Memorial
      </a>
   <!-- </div>
   <div class="proj"> -->
      <li><a target="_blank" href="...">
         <img class="grow" src="../img/CS.jpg" height="100" width="100" />
         Score Live - coming soon
      </a>
      </ul>
   </div>
</div>
