<div id="projects">
   <div class="proj">
      <div id="blink"><h1>Projects</h1></div>
      <table>
      <tr>
         <td><a target="_blank" href="http://pokeapp.scottabooth.com">
         <img class="grow" src="../img/poke.jpg" height="100" width="100"/></a></td>
            <td>Pokemon App</td>
      </tr>
      <tr>
         <td><a target="_blank" href="http://thehammeredsisters.scottabooth.com">
         <img class="grow" src="../img/HS.jpg" height="100" width="100"/></a></td>
            <td>The Hammered Sister's</td>
      </tr>
      <tr>
         <td><a target="_blank" href="http://tracyadammemorial.scottabooth.com/#/">
         <img class="grow" src="../img/Mem.jpg" height="100" width="100"/></a></td>
         <td>Tracy Adam's Memorial</td>
      </tr>
      <tr>
         <td><a target="_blank" href="...">
         <img class="grow" src="../img/CS.jpg" height="100" width="100"/></a></td>
         <td>Score Live - coming soon</td>
   </tr>
   </table>
   </div>
</div>
